<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Produtos</title>
</head>
<body>
  <h1>Produtos</h1>
  <a href="/produtos/novo">Novo Produto</a>
  <ul>
    <% products.forEach(function(product) { %>
      <li>
        <a href="/produtos/<%= product.id %>"><%= product.name %></a> - R$ <%= product.price %>
        <a href="/produtos/<%= product.id %>/editar">Editar</a>
        <form action="/produtos/<%= product.id %>/delete" method="post" style="display:inline;">
          <button type="submit">Excluir</button>
        </form>
      </li>
    <% }) %>
  </ul>
  <a href="/">Voltar</a>
</body>
</html> 